<form action="/get-form" method="POST" enctype="multipart/form-data">
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  File:<br>
  <input type="file" name="file">
  <br><br>
  <input type="submit" value="Submit">
</form> 